:root {
  --primary-color: black;
  --secondary-color: #6c63ff;
  --heading-font: "Playfair Display", serif;
  --default-font: "Poppins", sans-serif;
}
body {
  font-family: var(--default-font);
}
.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}

h1 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 96px;
  color: var(--primary-color);
}
h2 {
  font-family: var(--heading-font);
  font-weight: bold;
  font-size: 64px;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 48px;
}
.hero h2 {
  font-size: 24px;
  line-height: 2;
  color: #272142;
}

p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}
.hero p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}
.btn-branding {
  background: var(--secondary-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.btn-branding-outline {
  color: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
  font-size: 16px;
}
.project-description {
  padding: 90px 60px;
}
@media (max-width: 900px) {
  h1 {
    font-size: 40px;
    line-height: 2;
  }
  h2 {
    font-size: 25px;
  }
  h4 {
    font-size: 18px;
  }
  .btn {
    font-size: 18px;
  }

  .hero {
    background: #f9f7fe;
    text-align: center;
    padding: 80px 20px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
.content-container {
  padding: 160px 20px;
}
.content h1 {
  font-size: 64px;
  line-height: 80px;
}
.content h2 {
  font-size: 18px;
  font-family: var(--default-font);
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
  font-family: var(--default-font);
}
.content p {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.content-container p {
  font-size: 18px;
  font-family: var(--default-font);
}
.content {
  text-align: center;
  padding: 0;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav a {
  text-decoration: none;
  color: var(--primary-color);
  transition: all 100ms ease-in-out;
}
nav a:hover {
  color: var(--secondary-color);
}
nav li.active a {
  color: var(--secondary-color);
}
footer {
  margin: 60px 0;
}
footer .contact-box {
  background: #f9f7fe;
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
  text-align: center;
}
footer .social-link a {
  margin: 0 20px;
  color: var(--secondary-color);
  background: #f9f7fe;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .social-link a:hover {
  color: white;
  background: var(--secondary-color);
}
footer .email-link:hover {
  color: var(--secondary-color);
}
